// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

$grayishBlue: hsl(233, 8%, 62%);
$lighGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//Font Sizes
$font-xs: 0.8rem;
$font-sm: 0.785rem; // 14px
$font-base: 1rem;
$font-md: 1.125rem; // 18px
$font-xlg: 3.25rem;
